body{
    width: 90%;
    margin: 0 auto;
}

p{
    margin: 0;
}
header {
    text-align:center;
    background-color:lightsteelblue;
}

#left {
    background-color:lightblue;
    width: 75%;
    min-height: 200px;
}

#right {
    background-color:lightcoral;
    float: left;
    width: 25%;
    min-height: 200px;
}

footer {
    clear: both;
    text-align:center;
    background-color:lightgreen;
}
