body{

    magrin: 0px;
}



h1, h2 {
    color:blue;
    font-size: 5em;
}


.styleYellow
{color:yellow;}

.styleRed {
    color: red;
    font-size: 3em;
}


#menu
{
    color:blue;
}
section h1
{color:yellow}
section>h1
{color:green;}

