body {
    background-color: lightgray;
    margin: 0px;
    font: 1.25em sans-serif;
}

article{
    border: black solid 1px;
    padding: 10px;
    min-height: 280px;
    margin: 0 10px 10px;
}

h2 {
    margin-top: 0;
}

p {
    line-height: 1.25;
    margin: 0;
}

article:nth-child(odd) img{
    float: left;
    margin: 0 10px 0 0;
    padding-left: 10px;
    padding-right: 10px
}

article:nth-child(even) img{
    float: right;
    margin: 0 0 0 10px;
    padding-right: 10px;
}



