body{
    background-color: silver;
    margin: 0px;
    padding: 0px;
}
#wrapper{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
nav {
    float: left;
    width: 20%;
    background-color: white;
    height: 200px;
}
section{
    float: left;
    background-color: maroon;
    width: 80%;
    height: 200px;
    padding: 10px;
    border: 2px solid black;
    box-sizing: border-box;
}
footer {
    clear: both;
    text-align: center;
    background-color: #4ad14a;
    height: 120px;
}
nav a{
    text-decoration: none;
}
nav li{
    list-style: none;
}
.breedte{
    width: 400px;
    background-color: green;
    margin: 20px;
    padding: 20px;
}