header.hoofd h1 { /*0012*/
    color: gray;
}

header h1{ /*0002*/

    color: blue;
}

h1 { /*0001*/

    color: red;

}

Uitleg specificiteit
/*
• a is 1 wanneer de CSS regel uit een style attribuut komt in plaats van een selector, anders is het 0.
• b is het aantal gebruikte id attributes in de selector.
• c is de som van het aantal gebruikte attributen (geen id) en pseudo-classes in de selector.
• d is de som van het aantal gebruikte element namen en pseudo-elementen in de selector.
Als je deze cijfers achter elkaar plaatst (abcd) verkrijg je s, de specificiteit van de beschouwde selector.